.gastos{
    padding: 9px;
}
.cards{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;

}
.card-centro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    span{
        // margin-right: 60px;
        font-size: 40px;
        font-weight: 700;
        color: #1e293b;
    }
    .total{
        display: flex;
        flex-direction: column;
        p{
            font-size: 14px;
        }
        a{
            font-size: 12px;
            text-decoration: underline;
        }
    }
}
// .total-adm{
//     padding: 12px;
//     width: 100%;
//     text-align: center;
//     span{
//         font-size: 36px;
//         font-weight: 600;
//         text-indent: inherit;
//     }
// }

p-card{
    transition: all 0.5s;
}
p-card:hover{
    scale: 1.02;
    transform: translateY(-2px)

}

@media screen and (max-width: 950px){
    .card-centro{
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
        gap: 20px;
        padding: 5px;
    }
    .total{
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}