<p-toast />
<p-dialog
    header="Confirmar veículo"
    [(visible)]="dialogVisible"
    [modal]="true"
    [style]="{ width: '30rem' }">

    <div class="flex flex-col gap-5">
        <div>
            Você ficará responsável pelo veículo:
            <br>
            <b>{{ veiculoSelecionado?.modelo }}</b>
        </div>
        
        <label for="">Preencha o campo de Observação e adicione as imagens:</label>
        <textarea
            pInputTextarea
            [(ngModel)]="observacao"
            rows="3"
            class="w-full border"
             [autoResize]="true"
            placeholder="Digite uma observação">
        </textarea>

        <div>
  <p-floatlabel>

    <p-inputnumber

      inputId="kmAtual"

      [(ngModel)]="kmRetirada"

      [useGrouping]="false">

    </p-inputnumber>

    <label for="kmAtual">

      KM atual do veículo

    </label>

  </p-floatlabel>
</div>

        <!-- //foto painel -->
        <p-fileupload
            accept="image/*"
            [multiple]="false"
            [customUpload]="true"
            chooseLabel="Painel"
            chooseIcon="pi pi-camera"
            cancelLabel="Remover"
            [showUploadButton]="false"
            (onSelect)="selecionarImagem($event, 'painel')">
            </p-fileupload>
           
            <!-- //foto frente -->
            <p-fileupload
                accept="image/*"
                [multiple]="false"
                [customUpload]="true"
                chooseLabel="Frente"
                chooseIcon="pi pi-camera"
                cancelLabel="Remover"
                [showUploadButton]="false"
                (onSelect)="selecionarImagem($event, 'frente')">
                </p-fileupload>
                
            <!-- //foto traseira -->
            <p-fileupload
                accept="image/*"
                [multiple]="false"
                [customUpload]="true"
                chooseLabel="Traseira"
                chooseIcon="pi pi-camera"
                cancelLabel="Remover"
                [showUploadButton]="false"
                (onSelect)="selecionarImagem($event, 'traseira')">
                </p-fileupload>
                
            <!-- //foto lateral esquerda -->
            <p-fileupload
                accept="image/*"
                [multiple]="false"
                [customUpload]="true"
                chooseLabel="Lateral Esquerda"
                chooseIcon="pi pi-camera"
                cancelLabel="Remover"
                [showUploadButton]="false"
                (onSelect)="selecionarImagem($event, 'lateralEsquerda')">
                </p-fileupload>
                
            <!-- //foto lateral direita -->
            <p-fileupload
                accept="image/*"
                [multiple]="false"
                [customUpload]="true"
                chooseLabel="Lateral direita"
                chooseIcon="pi pi-camera"
                cancelLabel="Remover"
                [showUploadButton]="false"
                (onSelect)="selecionarImagem($event, 'lateralDireita')">
                </p-fileupload>

        <div class="flex justify-end gap-2">

            <p-button
                label="Cancelar"
                severity="danger"
                (click)="dialogVisible = false">
            </p-button>

            <p-button
                label="Confirmar"
                severity="contrast"
                [loading]="loadingConfirmar"
                 [disabled]="loadingConfirmar"
                (click)="confirmarSelecionado()">
            </p-button>

        </div>

    </div>

</p-dialog>
<div class="main">    
    
    @for (carro of veiculos; track carro.id){
        <p-card >            
            <ng-template #header>
                <!-- <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" /> -->
                 <div class="w-full flex justify-center">
                    @if (carro.foto) {
                        <img [src]="carro.foto" class="w-full h-50 object-cover rounded-lg" />
                    }@else{
                        <div class="flex justify-center items-center h-50">
                            @if (carro.tipo == 'Moto') {
                            <span class="material-symbols-outlined icone-moto ">two_wheeler</span>
                            }@else {
                            <i class="pi pi-car text-[100px] "></i>
                            }
                        </div> 
                }
                 </div>
            </ng-template>
            <ng-template #title> 
                <div class="w-full flex justify-between flex-wrap">
                    <p>
                        {{ carro.modelo }}
                    </p>
                     <span >
                 @if (carro.status == 'Ativo') {
                <p-message styleClass="sm:w-[22%] min-w-[100px]" severity="success" size="small" icon="pi pi-check-circle">{{ carro.status}}</p-message>
                
            }@else if (carro.status == 'Em uso') {
                <p-message styleClass="sm:w-[22%] min-w-[100px]" severity="warn" size="small" icon="pi pi-info-circle">Em uso</p-message>
            }
            @else {
                <p-message styleClass="sm:w-[22%] min-w-[100px]" severity="error" size="small" icon="pi pi-times-circle">{{ carro.status}}</p-message>
            }
            </span>
                </div>
            </ng-template>
            <ng-template #subtitle> {{ carro.placa | uppercase}} </ng-template>
            
            <p>
                Ano: <b>{{ carro.ano }}</b>, Cor do veiculo: <b>{{ carro.cor }}</b>
            </p>

            <p class="kms">
                KM da última troca de óleo: <strong>{{ carro.kmUltimaTrocaOleo }} km</strong><br>
                Km da proxima troca de óleo: <strong>{{ carro.kmProximaTrocaOleo }} km</strong>
            </p>
           
            <ng-template #footer>
                <div class="flex gap-10 mt-1">
                    @if (carro.status != 'Ativo') {
                        <p-button label="Selecionar" severity="contrast" (click)="abrirDialog(carro)" disabled class="w-full " styleClass="w-full !cursor-not-allowed" />
                        
                    }@else {
                        <p-button label="Selecionar" severity="contrast" (click)="abrirDialog(carro)" class="w-full" styleClass="w-full"/>
                    }
                </div>
            </ng-template>
            
        </p-card>
        }@empty {
            <div>
                <p>Nenhum carro cadastrado.</p>
            </div>
        }
    
</div>