.main{
    width: 100%;
    display: grid;
  gap: 16px;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

textarea{
  padding: 2px;
}

p-card{
    transition: all 0.3s;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
}

p-card:hover{
    scale: 1.02;
    box-shadow: 1px 1px 10px #cacaca;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  p-card{
    width: 100% !important;
  }
}

