.main{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  //   display: grid;
  // gap: 16px;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  .kms{
  margin-top: 10px !important;
}
}
.icone-moto{
  font-size: 100px;
}

textarea{
  padding: 2px;
}
i{
  font-size: 100px;
}

p-card{
    transition: all 0.3s;
    border-radius: 12px;
    overflow: hidden;
    min-width: 300px;
    width: 30%;
}

p-card:hover{
    scale: 1.02;
    box-shadow: 1px 1px 10px #cacaca;
}
.file::file-selector-button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 12px;
}

.file::file-selector-button:hover {
  background: #2563eb;
}

.file {
  width: 100%;
  font-size: 14px;
}


@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
  }

  p-card{
    width: 100% !important;
    min-width: 200px !important;
  }
}

