<p-toast />
<p-dialog
    header="Confirmar veículo"
    [(visible)]="dialogVisible"
    [modal]="true"
    [style]="{ width: '30rem' }">

    <div class="flex flex-col gap-4">
        <div>
            Você ficará responsável pelo veículo:
            <br>
            <b>{{ veiculoSelecionado?.modelo }}</b>
        </div>
        
        <label for="">Preencha o campo de Observação e adicione as imagens:</label>
        <textarea
            pInputTextarea
            [(ngModel)]="observacao"
            rows="3"
            class="w-full border"
             [autoResize]="true"
            placeholder="Digite uma observação">
        </textarea>

        <!-- //foto painel -->
        <p-fileupload
            accept="image/*"
            [multiple]="false"
            [customUpload]="true"
            chooseLabel="Painel"
            cancelLabel="Remover"
            [showUploadButton]="false"
            (onSelect)="selecionarImagem($event, 'painel')">
            </p-fileupload>
            @if (previewPainel) {
            <img
                [src]="previewPainel"
                class="w-full rounded-lg border"
            />
            }
            <!-- //foto frente -->
            <p-fileupload
                accept="image/*"
                [multiple]="false"
                [customUpload]="true"
                chooseLabel="Frente"
                cancelLabel="Remover"
                [showUploadButton]="false"
                (onSelect)="selecionarImagem($event, 'frente')">
                </p-fileupload>
                @if (previewFrente) {
                <img
                    [src]="previewFrente"
                    class="w-full rounded-lg border"
                />
                }
            <!-- //foto traseira -->
            <p-fileupload
                accept="image/*"
                [multiple]="false"
                [customUpload]="true"
                chooseLabel="Traseira"
                cancelLabel="Remover"
                [showUploadButton]="false"
                (onSelect)="selecionarImagem($event, 'traseira')">
                </p-fileupload>
                @if (previewTraseira) {
                <img
                    [src]="previewTraseira"
                    class="w-full rounded-lg border"
                />
                }
            <!-- //foto lateral esquerda -->
            <p-fileupload
                accept="image/*"
                [multiple]="false"
                [customUpload]="true"
                chooseLabel="Lateral Esquerda"
                cancelLabel="Remover"
                [showUploadButton]="false"
                (onSelect)="selecionarImagem($event, 'lateralEsquerda')">
                </p-fileupload>
                @if (previewLateralEsquerda) {
                <img
                    [src]="previewLateralEsquerda"
                    class="w-full rounded-lg border"
                />
                }
            <!-- //foto lateral direita -->
            <p-fileupload
                accept="image/*"
                [multiple]="false"
                [customUpload]="true"
                chooseLabel="Lateral direita"
                cancelLabel="Remover"
                [showUploadButton]="false"
                (onSelect)="selecionarImagem($event, 'lateralDireita')">
                </p-fileupload>
                @if (previewLateralDireita) {
                <img
                    [src]="previewLateralDireita"
                    class="w-full rounded-lg border"
                />
                }

        <div class="flex justify-end gap-2">

            <p-button
                label="Cancelar"
                severity="danger"
                (click)="dialogVisible = false">
            </p-button>

            <p-button
                label="Confirmar"
                severity="contrast"
                [loading]="loadingConfirmar"
                 [disabled]="loadingConfirmar"
                (click)="confirmarSelecionado()">
            </p-button>

        </div>

    </div>

</p-dialog>
<div class="main">    
    
    @for (carro of veiculos; track carro.id){
        <p-card  >            
            <ng-template #header>
                <!-- <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" /> -->
                 <div class="w-full h-[100px] flex justify-center">
                    @if (carro.tipo == 'Moto') {
                        <span class="material-symbols-outlined icone-moto">two_wheeler</span>
                    }@else {
                        <i class="pi pi-car text-[100px]"></i>
                    }
                 </div>
            </ng-template>
            <ng-template #title> {{ carro.modelo }} </ng-template>
            <ng-template #subtitle> {{ carro.placa | uppercase}} </ng-template>
            <p>
                Ano: <b>{{ carro.ano }}</b>, Cor do veiculo: <b>{{ carro.cor }}</b>
            </p>
            <span >
                 @if (carro.status == 'Ativo') {
                <p-message styleClass="sm:w-[30%] min-w-[110px]" severity="success" size="small" icon="pi pi-check-circle">{{ carro.status}}</p-message>
                
            }@else if (carro.status == 'Em uso') {
                <p-message styleClass="sm:w-[30%] min-w-[110px]" severity="warn" size="small" icon="pi pi-info-circle">{{ carro.status}}</p-message>
            }
            @else {
                <p-message styleClass="sm:w-[30%] min-w-[110px]" severity="error" size="small" icon="pi pi-times-circle">{{ carro.status}}</p-message>
            }
            </span>
            <ng-template #footer>
                <div class="flex gap-10 mt-1">
                    <p-button label="Selecionar" severity="contrast" (click)="abrirDialog(carro)" class="w-full" styleClass="w-full" [disabled]="carro.status !== 'Ativo'" />
                </div>
            </ng-template>
            
        </p-card>
        }@empty {
            <div>
                <p>Nenhum carro cadastrado.</p>
            </div>
        }
    
</div>