.card{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 20px #0000000d;
    border-radius: 12px;
    background-color: #fff;
    transition: all 0.5s;
    padding: 8px;
    .header{
        display: flex;
        gap: 10px;
        align-items: baseline;
        width: 100%;
        // border-bottom: 1px solid #d6d6d6;
        padding: 12px;
        i{
            font-size: 20px;
        }
        span{
            font-size: 20px;
            font-weight: 600;
        }
    }
}
.card:hover{
    scale: 1.01;
    
}