<div class="main">
    <div class="cardLeft">
        <h2>Gerenciamento de Frota</h2>
    </div>
    <div class="cardRight">
         <form (ngSubmit)="onLogin()">
            <h2>Faça login para continuar.</h2>
            <p-floatlabel variant="on">
                <input pInputText id="username" [(ngModel)]="username" name="username" autocomplete="off" />
                <label for="username">Usuário</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <input pInputText id="password" type="password" [(ngModel)]="password" name="password" autocomplete="off" />
                <label for="password">Senha</label>
            </p-floatlabel>

            <p-button icon="pi pi-check" label="Entrar" [raised]="true" severity="contrast" type="submit" />

            @if (errorMessage()) {
                <div class="p-error mt-3">{{ errorMessage() }}</div>
            }
        </form>
    </div>
</div>