.infoCar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    div{
        label{
            font-weight: 600;
        }
        width: 24%;
    }
}
.voltar{
    i{
        font-size: 12px;
    }
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2px;
    
}
.form-manutencao{
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
    gap: 24px;
}
p-floatlabel{
    width: 40% !important;
}

@media screen and (max-width: 480px) {
    .infoCar{
        flex-direction: column;
        div{
            width: 90%;
            gap: 10px;
        }
    }
    p-floatlabel{
    width: 90% !important;
}
    
}