.menu{
    
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e0e0e0;
}

.title{
    font-size: small;
    font-weight: 600;
    background-color: #6b6b6b;
    color: #eeeeee;
    padding: 4px;
    border-radius: 12px;
}

.links{
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    a{
        padding: 8px;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: baseline;
        gap: 6px;
        font-weight: 500;
    }

    a:hover{
        background-color: #6b6b6b;
        color: #fff;
        padding: 8px;
        border-radius: 12px;
    }
   
}


.link-ativo{
     background-color: #313131;
    color: #fff;
    
    border-radius: 12px;

}