.pButton-sombra{
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #000000;
    font-weight: 600;
    color: #fdfdfd;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 8px;
}
.pButton-sombra:hover{
    box-shadow: 1px 1px 2px 1px #818181 !important;
    scale: 1.01;
    cursor: pointer;
}
.pButton-sombra-azul{
    background-color: #2563eb !important;
}

.filtros{
    display: flex;
    align-items: end;
    gap: 12px;
    margin-bottom: 20px;
    input{
        width: 20%;
    }
    .filtrosAvancados{
        display: flex;
        gap: 12px;
        align-items: end;
        // width: 70%;
        flex: 1;
        input{
            width: 24%;
        }
        .datas{
            input{
                width: 100%;
            }
            width: 24%;
            display: flex;
            flex-direction: column;
        }
        label{
            font-weight: 500;
        }
    }
    .btns{
        display: flex ;
        justify-content: end;
        gap: 10px;
        
    }
}
th{
    background-color: #181818 !important;
    color: #ffffff !important;
}
textarea{
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #818181;
}

@media screen and (max-width: 600px) {
    .filtros{
        flex-direction: column;
        align-items: start;
        input{
            width: 100% !important;
        }
        .filtrosAvancados{
            align-items: start;
            flex-direction: column ;
            justify-content: start ;
            width: 100%;
            input{
                width: 100% !important;
            }
            .datas{
                width: 100% !important;
                input{
                    width: 100% !important;
                }
            }
        }
        .btns{
            justify-content: center;
            width: 100%;
        }
    }

}