<!-- modal de detalhes da mov -->
<p-dialog
  header="Detalhes da movimentação"
  [(visible)]="modalObservacao"
  [modal]="true"
  [style]="{ width: '50rem' }">
  <div class="flex flex-col gap-5">

    <!-- OBSERVAÇÃO -->
    <div>
      <p class="font-bold text-lg">
        Observação
      </p>
      <p class="leading-7">
        {{
          movimentacaoSelecionada
            ?.observacao || 'Sem observações'
        }}
      </p>
    </div>

    <!-- FOTOS -->
    <div>
      <p class="font-bold text-lg mb-3">
        Fotos da retirada
      </p>
      <div class="flex flex-col gap-4">
        <!-- Painel -->
        <div>
          <p class="font-semibold mb-2">
            Painel
          </p>
          <img
            [src]="
              movimentacaoSelecionada
              ?.fotosRetirada?.painel
            "
            class="w-full rounded-lg border"
          />
        </div>

        <!-- Frente -->
        <div>
          <p class="font-semibold mb-2">
            Frente
          </p>
          <img
            [src]="
              movimentacaoSelecionada
              ?.fotosRetirada?.frente
            "
            class="w-full rounded-lg border"
          />
        </div>

        <!-- Traseira -->
        <div>
          <p class="font-semibold mb-2">
            Traseira
          </p>
          <img
            [src]="
              movimentacaoSelecionada
              ?.fotosRetirada?.traseira
            "
            class="w-full rounded-lg border"
          />
        </div>

        <!-- Lateral esquerda -->
        <div>
          <p class="font-semibold mb-2">
            Lateral esquerda
          </p>
          <img
            [src]="
              movimentacaoSelecionada
              ?.fotosRetirada
              ?.lateralEsquerda
            "
            class="w-full rounded-lg border"
          />
        </div>

        <!-- Lateral direita -->
        <div>
          <p class="font-semibold mb-2">
            Lateral direita
          </p>
          <img
            [src]="
              movimentacaoSelecionada
              ?.fotosRetirada
              ?.lateralDireita
            "
            class="w-full rounded-lg border"
          />
        </div>

        <div>

  <div class="border-t-2 pt-4">

    <p class="font-bold text-[32px]">
      Devolução
    </p>

    <p class="font-bold">
      Observação
    </p>

    <p class="leading-7 mb-6">

      {{
        movimentacaoSelecionada
        ?.observacaoDevolucao
        || 'Sem observações'
      }}

    </p>

  </div>

  <!-- GRID IMAGENS -->

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

    <!-- PAINEL -->

    <div>

      <label class="font-bold">
        Painel
      </label>

      <img
        pTooltip="Clicar para ver comparação"
        [src]="
          movimentacaoSelecionada
          ?.fotosDevolucao
          ?.painel
        "

        class="w-full rounded-lg border cursor-pointer"

        (click)="
          abrirComparacao(

            'Painel',

            movimentacaoSelecionada
            ?.fotosRetirada
            ?.painel,

            movimentacaoSelecionada
            ?.fotosDevolucao
            ?.painel
          )
        "
      />
    </div>

    <!-- FRENTE -->

    <div>

      <label class="font-bold">
        Frente
      </label>

      <img
        pTooltip="Clicar para ver comparação"
        [src]="
          movimentacaoSelecionada
          ?.fotosDevolucao
          ?.frente
        "

        class="w-full rounded-lg border cursor-pointer"

        (click)="
          abrirComparacao(

            'Frente',

            movimentacaoSelecionada
            ?.fotosRetirada
            ?.frente,

            movimentacaoSelecionada
            ?.fotosDevolucao
            ?.frente
          )
        "
      />
    </div>

    <!-- TRASEIRA -->

    <div>

      <label class="font-bold">
        Traseira
      </label>

      <img
      pTooltip="Clicar para ver comparação"
        [src]="
          movimentacaoSelecionada
          ?.fotosDevolucao
          ?.traseira
        "

        class="w-full rounded-lg border cursor-pointer"

        (click)="
          abrirComparacao(

            'Traseira',

            movimentacaoSelecionada
            ?.fotosRetirada
            ?.traseira,

            movimentacaoSelecionada
            ?.fotosDevolucao
            ?.traseira
          )
        "
      />
    </div>

    <!-- LATERAL ESQUERDA -->

    <div>

      <label class="font-bold">
        Lateral esquerda
      </label>

      <img
      pTooltip="Clicar para ver comparação"
        [src]="
          movimentacaoSelecionada
          ?.fotosDevolucao
          ?.lateralEsquerda
        "

        class="w-full rounded-lg border cursor-pointer"

        (click)="
          abrirComparacao(

            'Lateral esquerda',

            movimentacaoSelecionada
            ?.fotosRetirada
            ?.lateralEsquerda,

            movimentacaoSelecionada
            ?.fotosDevolucao
            ?.lateralEsquerda
          )
        "
      />
    </div>

    <!-- LATERAL DIREITA -->

    <div>

      <label class="font-bold">
        Lateral direita
      </label>

      <img
      pTooltip="Clicar para ver comparação"
        [src]="
          movimentacaoSelecionada
          ?.fotosDevolucao
          ?.lateralDireita
        "

        class="w-full rounded-lg border cursor-pointer"

        (click)="
          abrirComparacao(

            'Lateral direita',

            movimentacaoSelecionada
            ?.fotosRetirada
            ?.lateralDireita,

            movimentacaoSelecionada
            ?.fotosDevolucao
            ?.lateralDireita
          )
        "
      />
    </div>

  </div>

</div>

      </div>

    </div>

  </div>

</p-dialog>

<!-- modal de devolução -->
 <p-dialog
  header="Devolução do veículo"
  [(visible)]="modalDevolucao"
  [modal]="true"
  [style]="{ width: '50rem' }">
  <div class="flex flex-col gap-5">

    <!-- OBSERVAÇÃO -->
    <div class="flex flex-col gap-2">
      <label class="font-bold">
        Observações da devolução
      </label>
      <textarea
        pTextarea
        rows="4"
        [(ngModel)]="observacaoDevolucao"
        placeholder="Descreva avarias, combustível, quilometragem...">
      </textarea>
    </div>

    <!-- PAINEL -->
    <div class="flex flex-col gap-2">
      <label class="font-bold">
        Foto do painel
      </label>
      <p-fileupload
        accept="image/*"
        [multiple]="false"
        [customUpload]="true"
        chooseLabel="Selecionar foto"
        chooseIcon="pi pi-camera"
        cancelLabel="Remover"
        [showUploadButton]="false"
        (onSelect)="selecionarImagemDevolucao($event,'painel')">
      </p-fileupload>
    </div>

    <!-- FRENTE -->
    <div class="flex flex-col gap-2">
      <label class="font-bold">
        Foto da frente
      </label>
      <p-fileupload
        accept="image/*"
        [multiple]="false"
        [customUpload]="true"
        chooseLabel="Selecionar foto"
        chooseIcon="pi pi-camera"
        cancelLabel="Remover"
        [showUploadButton]="false"
        (onSelect)="
          selecionarImagemDevolucao($event,'frente')">
      </p-fileupload>
     
    </div>

    <!-- TRASEIRA -->
    <div class="flex flex-col gap-2">
      <label class="font-bold">
        Foto da traseira
      </label>
      <p-fileupload
        accept="image/*"
        [multiple]="false"
        [customUpload]="true"
        chooseLabel="Selecionar foto"
        chooseIcon="pi pi-camera"
        cancelLabel="Remover"
        [showUploadButton]="false"
        (onSelect)="
          selecionarImagemDevolucao($event, 'traseira')">

      </p-fileupload>

    </div>

    <!-- LATERAL ESQUERDA -->
    <div class="flex flex-col gap-2">
      <label class="font-bold">
        Lateral esquerda
      </label>
      <p-fileupload
        accept="image/*"
        [multiple]="false"
        [customUpload]="true"
        chooseLabel="Selecionar foto"
        chooseIcon="pi pi-camera"
        cancelLabel="Remover"
        [showUploadButton]="false"
        (onSelect)="
          selecionarImagemDevolucao($event,'lateralEsquerda')">

      </p-fileupload>

    </div>

    <!-- LATERAL DIREITA -->
    <div class="flex flex-col gap-2">
      <label class="font-bold">
        Lateral direita
      </label>
      <p-fileupload
        accept="image/*"
        [multiple]="false"
        [customUpload]="true"
        chooseLabel="Selecionar foto"
        chooseIcon="pi pi-camera"
        cancelLabel="Remover"
        [showUploadButton]="false"
        (onSelect)="
          selecionarImagemDevolucao($event,'lateralDireita')">
      </p-fileupload>
      
    </div>

  </div>
  
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancelar"
        severity="danger"
        outlined="true"
        (onClick)="resetarDevolucao()">
      </p-button>

      <p-button
        label="Confirmar devolução"
        severity="info"
        icon="pi pi-check"
        [loading]="loading"
        [disabled]="loading"
        (onClick)="confirmarDevolucaoFinal()">
      </p-button>
    </div>
  </ng-template>

</p-dialog>

<!-- modal comparação -->
 <p-dialog

  [header]="tituloComparacao"

  [(visible)]="modalComparacao"

  [modal]="true"

  [style]="{ width: '70rem' }">

  <div class="grid md:grid-cols-2 grid-cols-1 gap-6">

    <!-- RETIRADA -->

    <div class="flex flex-col gap-3">

      <p class="font-bold text-center">

        Retirada

      </p>

      <img

        [src]="imagemAntes"

        class="w-full rounded-lg border shadow"
      />
    </div>

    <!-- DEVOLUÇÃO -->

    <div class="flex flex-col gap-3">

      <p class="font-bold text-center">

        Devolução

      </p>

      <img

        [src]="imagemDepois"

        class="w-full rounded-lg border shadow"
      />
    </div>

  </div>

</p-dialog>

<!-- modal abastecimento -->
 <p-dialog
 (onHide)="resetarAbastecimento()"
  header="Registrar abastecimento"
  [(visible)]="modalAbastecimento"
  [modal]="true"
  [style]="{ width: '40rem' }">

  <div class="flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <p-checkbox
        [(ngModel)]="houveAbastecimento"
        [binary]="true">
      </p-checkbox>
      <label>
        Houve abastecimento?
      </label>
    </div>

    @if (houveAbastecimento) {
      <div class="flex flex-col">
        <label>
          KM do abastecimento
        </label>
        <p-inputNumber
      inputId="kmAbastecimento"
      [(ngModel)]="kmAbastecimento"
      [useGrouping]="true"
      locale="pt-BR"
      suffix=" km"
      [min]="movimentacaoAbastecimento?.kmRetirada">
  </p-inputNumber>
      </div>
      <div class="flex flex-col">
        <label for="">Valor</label>
        <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" [(ngModel)]="valorAbastecidos" >
        </p-inputNumber>
      </div>
      <div class="flex flex-col">
        <label for="">Litros</label>
        <input pInputText type="number" name="" id="" [(ngModel)]="litrosAbastecidos">
      </div>

      <div>
        <label>
          Nota fiscal
        </label>
        <p-fileupload
          accept="image/*"
          [customUpload]="true"
          [showUploadButton]="false"
          chooseLabel="Selecionar"
          cancelLabel="Remover"
          (onSelect)="selecionarImagemAbastecimento($event,'nota')">
        </p-fileupload>
      </div>

      @if (previewNota) {
        <img
          [src]="previewNota"
          class="w-full rounded-lg border"
        />
      }

      <div>
        <label>
          Painel no abastecimento
        </label>
        <p-fileupload
          accept="image/*"
          [customUpload]="true"
          [showUploadButton]="false"
          chooseLabel="Selecionar"
          cancelLabel="Remover"
          (onSelect)=" selecionarImagemAbastecimento($event,'painel')">
        </p-fileupload>

      </div>
      @if (previewPainelAbastecimento) {
        <img
          [src]="previewPainelAbastecimento"
          class="w-full rounded-lg border"
        />
      }

    }
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      severity="secondary"
      (onClick)="modalAbastecimento = false">
    </p-button>
    <p-button
      label="Salvar"
      [loading]="loadAbastecimento"
      severity="success"
      (onClick)="salvarAbastecimento()">
    </p-button>
  </ng-template>

</p-dialog>

<!-- modal detalhes do abastecimento -->
 <p-dialog

  header="Detalhes do abastecimento"

  [(visible)]="modalDetalhesAbastecimento"

  [modal]="true"

  [style]="{ width: '40rem' }">

  @if (abastecimentoSelecionado?.abastecimento; as abastecimento) {

  <div class="flex flex-col gap-4">

    <div>
      <strong>Houve abastecimento:</strong>
      {{ abastecimento.houveAbastecimento ? 'Sim' : 'Não' }}
    </div>

    @if (abastecimento.houveAbastecimento) {

      <div>
        <strong>KM:</strong>
        {{ abastecimento.km }}
      </div>

      <div>
        <strong>Data:</strong>
        {{ abastecimento.data | date:'dd/MM/yyyy HH:mm' }}
      </div>
      <div>
        <strong>Valor:</strong>
        {{ abastecimento.valorAbastecido | currency: 'BRL'}}
      </div>
      <div>
        <strong>Litros:</strong>
        {{ abastecimento.litrosAbastecido }}
      </div>

      <div>
        <p class="font-bold mb-2">
          Nota Fiscal
        </p>

        <img
          [src]="abastecimento.fotoNota"
          class="w-full rounded-lg border"
        />
      </div>

      <div>
        <p class="font-bold mb-2">
          Painel
        </p>

        <img
          [src]="abastecimento.fotoPainel"
          class="w-full rounded-lg border"
        />
      </div>

    }

  </div>

}

</p-dialog>
<app-card-page title="Relatorios" icon="pi-file">
  <p-toast />
  <p-confirmdialog />
  @if (usuario.role == 'Administrador') {
    <app-gastos-combustivel [movimentacoes]="movimentacoes"></app-gastos-combustivel>
  }
    <!-- <p-button styleClass="shadow-xl" label="Filtros anvaçados" severity="contrast" icon="pi pi-filter" cardPageRight /> -->
    <button class="pButton-sombra invisible sm:visible" (click)="FiltrosAvancados()" cardPageRight>
        @if (showFiltrosAvancados == false) {
            <i class="pi pi-filter"></i>
            <p>Filtros anvançados</p>
        }@else {
            <i class="pi pi-times"></i>
            <p>Fechar filtros</p>
        }
    </button>
    <div class="filtros">
        <input pInputText placeholder="Buscar por motorista" [(ngModel)]="filtroMotorista">
            
        <div class="filtrosAvancados " [ngClass]=" {'sm:invisible': !showFiltrosAvancados }">
            <input pInputText placeholder="Placa" [(ngModel)]="filtroPlaca">
            <input pInputText placeholder="Modelo" [(ngModel)]="filtroModelo">
            <div class="datas">
                <label for="">Data de retirada: </label>
                <input pInputText type="date" [(ngModel)]="filtroDataRetirada">
            </div>
            <div class="datas">
                <label for="">Data de devolução: </label>
                <input pInputText type="date" [(ngModel)]="filtroDataDevolucao">
            </div>
        </div>    

        <div class="btns">
            <p-button
                label="Filtrar"
                icon="pi pi-search"
                (onClick)="filtrar()">
            </p-button>
            <p-button
                label="Limpar"
                [raised]="true"
                severity="secondary"
                icon="pi pi-times"
                (onClick)="limparFiltros()">
            </p-button>
        </div>

</div>
<div class="flex flex-col gap-2 sm:hidden">
  <span>
    <i  class="pi-yellow pi pi-exclamation-circle"></i>
    - Em uso
  </span>
  <span>
    <i class="pi-blue pi pi-check-circle"></i>
    - Finalizado
  </span>
</div>
<div class="registro">
  <p> {{ movimentacoes.length }} movimentações registradas </p>
</div>
<div class="movs">
@for (mov of movimentacoesPaginadas; track mov.id){
    <div class="card-mov">
      <div class=" flex flex-col gap-2">
        
        <div class="title-card flex w-full items-center gap-3">
          @if (mov.tipo == 'Carro') {
          <div class="icon-card">
            <i class="pi pi-car"></i>
          </div>
        }@else {
          <div class="icon-card">
            <span class="material-symbols-outlined icone-moto ">two_wheeler</span>
          </div>
        }
          
          <div class="flex flex-col flex-1">
            <span class="flex">
              <!-- <strong>Modelo:   </strong> -->
              <p class="text-base font-bold"> {{ mov.modelo | uppercase }} </p>
            </span>
            <span class="flex ">
              <!-- <strong>Placa: </strong> -->
              <p class="text-xs"> {{ mov.placa | uppercase }} </p>
            </span>
          </div>
           @if (mov.status === 'Em uso') {
            <!-- <p-message styleClass="sm:w-[40%] min-w-[134px]"  severity="warn" icon="pi pi-exclamation-circle" variant="outlined"></p-message> -->
            <span class=" flex justify-end">
              <i pTooltip="Em uso" class="pi-yellow pi pi-exclamation-circle" ></i>
            </span>
          } @else {
            <!-- <p-message styleClass="sm:w-[12%] !border-none"  severity="info" icon="pi pi-check-circle" variant="outlined"></p-message>  -->
            <span   class=" flex justify-end text-blue">
               <i class="pi-blue pi pi-check-circle " pTooltip="Finalizado" ></i>
             </span>
        }
        </div>
        <span class="flex gap-1">
          <strong>Motorista: </strong>
          <p> {{ mov.motoristaNome }} </p>
        </span>
        
        <span class="flex">
          <strong>Data de retira: </strong>
          <p> {{ mov.dataRetirada | date:'dd/MM/yyyy HH:mm' }} </p>
        </span>
        <span class="flex">
          <strong>Data de devolução: </strong>
          <p>  @if (mov.dataDevolucao) {
          {{ mov.dataDevolucao
            | date:'dd/MM/yyyy HH:mm'
          }}
        } @else {
          <span>
            Em aberto
          </span>
        }
          </p>
        </span>
        <p>
          <strong>KM na retirada: </strong>
          {{ mov.kmRetirada | number:'1.0-0' }}
        </p>
        <div class="">
          <strong>Data e KM do último abasteciemento:</strong>
           @if (mov.abastecimento?.houveAbastecimento) {
          <span class="flex">
            <p class="font-bold">KM: </p>
            <p>             
                {{ mov.abastecimento?.km | number:'1.0-0' }} km               
            </p>
          </span>
          <span class="flex">
            <p class="font-bold">Data: </p>
            <p>
               {{ mov.abastecimento?.data | date:'dd/MM/yyyy HH:mm' }}
            </p>
          </span>
          }@else {
                <p>Não abasteceu</p>
              }
        </div>
        <span>
           @if (mov.observacao) {

          <div class="flex gap-2 flex-wrap">
            <p-button
              label="Detalhes"
              icon="pi pi-eye"
              severity="contrast"
              size="small"
              (onClick)="abrirObservacao(mov)">
            </p-button>

          @if (!mov.abastecimento) {
            <p-button
              label="Abastecimento"
              icon="pi pi-car"
              severity="warn"
              size="small"
              (onClick)="abrirAbastecimento(mov)">
            </p-button>
          } @else {
            <p-button
              label="Ver Abastecimento"
              icon="pi pi-eye"
              severity="success"
              size="small"
              (onClick)="verAbastecimento(mov)">
            </p-button>
            }
            @if (mov.status === 'Em uso'){
              <p-button
               label="Devolver" 
               icon="pi pi-check" 
               severity="info" 
               size="small"
               (onClick)="abrirDialogDevolucao(mov)">
              </p-button>
          }     
        </div>
          } @else {
            <span class="w-[300px]">
              <p-message size="small" styleClass="w-[130px]" severity="warn">Sem observação</p-message>
            </span>
          }                    
        </span> 
      </div>
    </div>
  }
</div>
<p-paginator
 styleClass="!font-bold"
  [rows]="itensPorPagina"
  [totalRecords]="movimentacoes.length"
  (onPageChange)="trocarPagina($event)"
  >
</p-paginator>
</app-card-page>