<p-toast></p-toast>
<p-confirmdialog></p-confirmdialog>
<app-card-page title="Gerenciar Veículos" >
    <span cardIcon class="material-symbols-outlined car">car_gear</span>
    @if (!cadastrarVeiculo) {
        <p-button label="Novo Veículo" severity="contrast" icon="pi pi-plus" cardPageRight (onClick)="showCadastrarVeiculo()" />
    }@else {
        <p-button label="Fechar Formulário" severity="contrast" icon="pi pi-times" cardPageRight (onClick)="showCadastrarVeiculo()" />        
    }

     @if (cadastrarVeiculo) {
    <div class="cadastrarVeiculo">
        <h2 class=""><i class="pi pi-info-circle"></i> Insira as informações do veiculo para cadastrar.</h2>
        <form action="">
            <div>
                <p-floatlabel>
                    <input pInputText id="over_label" autocomplete="off" maxlength="30" [(ngModel)]="veiculo.modelo" name="modelo" />
                    <label for="over_label">Modelo</label>
                </p-floatlabel>
            </div>
            <div>
                <p-floatlabel>
                    <p-inputmask
                    styleClass="w-full"
                        id="ano"
                        mask="9999"
                        [(ngModel)]="veiculo.ano"
                        name="ano">
                    </p-inputmask>

                    <label for="over_label">Ano</label>
                </p-floatlabel>
            </div>
            <div>
                <p-floatlabel>
                    <input class="uppercase" pInputText id="over_label" autocomplete="off" [(ngModel)]="veiculo.placa" name="placa" maxlength="7" />
                    <label for="over_label">Placa</label>
                </p-floatlabel>
            </div>
            <div>
               <p-floatlabel>
                     <p-select
            inputId="cor"
            [options]="cores"
            optionLabel="nome"
            optionValue="nome"
            [(ngModel)]="veiculo.cor"
            name="cor"
            class="w-full">
        </p-select>
                    <label for="over_label">Cor</label>
                </p-floatlabel>
            </div>
            <div>
               <p-floatlabel>
                    <p-select styleClass="w-full" [options]="statusVeiculo"
                        [(ngModel)]="veiculo.status" name="status">
                    </p-select>
                    <label>Status</label>
                </p-floatlabel>
            </div>
            <div>
                <p-floatlabel>
                <p-select
                styleClass="w-full"
                [options]="tiposVeiculo"
                optionLabel="label"
                optionValue="value"
                [(ngModel)]="veiculo.tipo"
                name="tipo">
                </p-select>
                <label>Tipo do veículo</label>
                </p-floatlabel>
            </div>
            <div>
            <p-floatlabel>
                <p-inputnumber
                class="w-full"
                inputId="kmUltimaTroca"
                [(ngModel)]="veiculo.kmAtual"
                name="kmAtual"
                [useGrouping]="true"
                locale="pt-BR"
                suffix=" km">
                </p-inputnumber>
                <label for="kmAtual">
                KM atual
                </label>
            </p-floatlabel>
            </div>
            <div>
            <p-floatlabel>
                <p-inputnumber
                class="w-full"
                inputId="kmUltimaTroca"
                [(ngModel)]="veiculo.kmUltimaTrocaOleo"
                name="kmUltimaTrocaOleo"
                [useGrouping]="true"
                locale="pt-BR"
                suffix=" km">
                </p-inputnumber>
                <label for="kmUltimaTroca">
                KM da última troca de óleo
                </label>
            </p-floatlabel>
            </div>

            <div>
            <p-floatlabel >
                <p-inputnumber
                class="w-full"              
                inputId="kmProximaTroca"
                [(ngModel)]="veiculo.kmProximaTrocaOleo"
                name="kmProximaTrocaOleo"
                [useGrouping]="true"
                locale="pt-BR"
                 suffix=" km">
                </p-inputnumber>
                <label for="kmProximaTroca">
                KM da próxima troca de óleo
                </label>
            </p-floatlabel>
            </div>
            <div class="flex  gap-2">
                <!-- <label>
                    Foto do veículo
                </label> -->
                <p-fileupload
                    mode="basic"
                    accept="image/*"
                    chooseLabel="Selecionar foto"
                    [auto]="false"
                    [customUpload]="true"
                    (onSelect)="selecionarFotoVeiculo($event)">
                </p-fileupload>
            </div>

            <div class="btn-form">
                <p-button icon="pi pi-save" label="Salvar" [loading]="loading" (onClick)="salvarVeiculo()" [raised]="true"  ></p-button>
                <p-button icon="pi pi-times" label="Cancelar" severity="danger" (onClick)="resetFormulario()" outlined="true" [raised]="true" ></p-button>
            </div>
            
        </form>
    </div>
    }

    <div class="card">
  <p-table [value]="veiculos" stripedRows [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} veiculos" [rowsPerPageOptions]="[10, 25, 50]"
     [loading]="loading">
    <!-- <ng-template pTemplate="caption">
      
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="modelo">Modelo <p-sortIcon field="modelo"></p-sortIcon></th>
          <th >Tipo</th>
          <th pSortableColumn="ano">Ano <p-sortIcon field="ano"></p-sortIcon></th>
          <th >Placa</th>
          <th>Cor</th>
          <th class="w-[12%]">Status</th>
          <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-veiculo>
      <tr>
          <td>{{ veiculo.modelo |uppercase }}</td>
          <td>{{ veiculo.tipo | uppercase}}</td>
          <td>{{ veiculo.ano }}</td>
          <td>{{ veiculo.placa | uppercase }}</td>
          <td>{{ veiculo.cor | uppercase}}</td>
          <td>
            @if (veiculo.status == 'Ativo') {
                <p-message styleClass="sm:w-[75%] min-w-[100px] " severity="success" size="small" icon="pi pi-check-circle">{{ veiculo.status}}</p-message>                
            }@else if (veiculo.status == 'Em uso') {
                <p-message styleClass="sm:w-[75%] min-w-[100px]" severity="warn" size="small" icon="pi pi-info-circle">{{ veiculo.status}}</p-message>
            }@else {
                <p-message styleClass="sm:w-[75%] min-w-[100px]" severity="error" size="small" icon="pi pi-times-circle">{{ veiculo.status}}</p-message>
            }
            
        </td>
          <td class="flex gap-2">
            <p-button
                pTooltip="Editar veículo" 
                tooltipPosition="top" 
                severity="info" 
                [rounded]="true"  
                [raised]="true" 
                [outlined]="true"
                 icon="pi pi-pencil" 
                 (click)="editarVeiculo(veiculo)" >
            </p-button>
            <p-button 
                pTooltip="Excluir veículo" 
                tooltipPosition="top"
                severity="danger" 
                [rounded]="true" 
                [outlined]="true" 
                [raised]="true" 
                icon="pi pi-trash" 
                (onClick)="confirmDelete($event, veiculo.id)" >
            </p-button>
            <p-button 
                pTooltip="Manutenção do veículo" 
                tooltipPosition="top"
                severity="warn" 
                [rounded]="true" 
                [outlined]="true" 
                [raised]="true" 
                icon="pi pi-cog"
                [routerLink]="['/restrito/manutencao', veiculo.id]" 
                 >
            </p-button>
          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptyMessage">
      <tr>
        <td colspan="5">Nenhum veículo encontrado.</td>
      </tr>
    </ng-template>
  </p-table>
</div>


</app-card-page>