.movs{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 15px 0;
    .card-mov{
        background-color: #fafafa;
        min-width: 332px;
        width: 24.5%;
        border: 1px solid #dfdfdf;
        box-shadow: 1px 1px 10px #e0e0e0;
        border-radius: 8px;
        padding: 18px;
        transition: all 0.5s;
        .icone-card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #cacaca;
            margin-bottom: 10px;
            .icone{
                background-color: #000000;
                color: #fafafa;
                border-radius: 50%;
                // width: 60px;
                // height: 60px;
                padding: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-size: 36px;
                }
            }
        }
        
    }
    .card-mov:hover{
        scale: 1.02;
        box-shadow: 1px 1px 10px #cacaca;
        border: 1px solid #000000;
    }
}
.btn-filtro{
    padding: 8px;
}
.filtroCards{
    display: flex;
    // align-items: center;
    overflow: hidden;
    transition: all .35s ease;
    gap: 6px;
    width: 100%;
}
.filtros {
    overflow: hidden;
    transition: all .35s ease;
    width: 100%;
    display: flex;
}

.filtros-fechado {
    max-height: 0;
    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.filtros-aberto {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    padding: 1rem 0;
}
p-floatlabel{
    margin-top: 12px;
    width: 100%;
    input{
        width: 100%;
    }
}
.gastos{
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .filtros{
        flex-direction: column;
        gap: 10px;
    }
}