<app-card-page title="Relatorio de manutenções" icon="pi pi-warehouse">

<!-- DASHBOARD -->

<p-accordion value="1">
    <p-accordion-panel value="0">
        <p-accordion-header>
            <span>
                <i class="pi pi-wallet"></i>
                Informações de gastos

            </span>
        </p-accordion-header>
        <p-accordion-content>
            <div class=" gastos w-full flex flex-col sm:flex-row flex-wrap gap-3 items-start ">
                <p-button [label]="filtros ? 'Ocultar filtros' : 'Mostrar filtros'" icon="pi pi-filter" outlined="true" severity="contrast" (onClick)="filtros = !filtros"></p-button>
                
                <div class="filtros"  [ngClass]="{'filtros-aberto': filtros,'filtros-fechado': !filtros}">

                    <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:w-[30%] w-full">
                        <label class="mb-1 font-bold">Data inicial</label>
                        <input class="w-[80%]" pInputText type="date" [(ngModel)]="dataInicio">
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:w-[30%] w-full">
                        <label class="mb-1 font-bold">Data final</label>
                        <input class="w-[80%]" pInputText type="date" [(ngModel)]="dataFim">
                    </div>
                    <div class="flex-1 flex gap-1 justify-end">
                        <p-button
                            icon="pi pi-search"
                            label="Filtrar"
                            (onClick)="filtrarIndicadores()">
                        </p-button>
                        <p-button
                            icon="pi pi-times"
                            severity="secondary"
                            label="Limpar"
                            (onClick)="limparFiltro()">
                        </p-button>
                    </div>
                </div>
                

            </div>
            <div class="gastos grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 ">

                <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101 hover:shadow-xl">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Total gasto
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ totalGeral | currency:'BRL' }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>


                <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Gastos com carro
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ totalCarros | currency:'BRL' }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>

                <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Gastos com motos
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ totalMotos | currency:'BRL' }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>

                <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Troca de óleo
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ totalOleo | currency:'BRL' }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>

                <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Troca de pneus
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ totalPneus | currency:'BRL' }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>

                <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Serviços terceirizados
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ totalOutros | currency:'BRL' }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>

                <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Total de manutenções
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ quantidadeManutencoes  }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>

            <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Manutenções em carros
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ quantidadeCarros  }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>

                <p-card styleClass="shadow-2 border-round-xl transition delay-50 duration-200 ease-in-out hover:-translate-y-1 hover:scale-101">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-500">
                                Manutenções em motos
                            </p>
                            <h2 class="text-3xl font-bold mt-2">
                                {{ quantidadeMotos  }}
                            </h2>
                        </div>
                        <i
                            class="pi pi-wallet text-5xl text-green-500">
                        </i>
                    </div>
                </p-card>
                
            </div>
</p-accordion-content>
</p-accordion-panel>
</p-accordion>

<div class="btn-filtro">
    <p-button [label]="filtrosCards ? 'Ocultar filtros' : 'Mostrar filtros'" icon="pi pi-filter" severity="contrast" (onClick)="filtrosCards = !filtrosCards"></p-button>
    <div class="filtros gap-2 sm:items-end"  [ngClass]="{'filtros-aberto': filtrosCards,'filtros-fechado': !filtrosCards}">
    
        <!-- Pesquisa -->
    
        <div class="sm:w-[40%]">    
            <p-floatlabel>    
                <input
                    pInputText
                    id="pesquisa"
                    [(ngModel)]="pesquisa"
                    (input)="aplicarFiltros()">    
                <label>
                    Buscar por Modelo ou Placa
                </label>    
            </p-floatlabel>    
        </div>
    
        <!-- Tipo -->
    
        <div class="w-80">    
            <p-floatlabel>
                <p-select
                class="w-full"
                    inputId="tipo"
                    [options]="tipos"
                    optionLabel="label"
                    optionValue="value"
                    [(ngModel)]="tipoSelecionado"
                    appendTo="body"
                    (onChange)="aplicarFiltros()">
                </p-select>
                <label>
                    Tipo de manutenção
                </label>    
            </p-floatlabel>
    
        </div>    
        <!-- Oficina -->    
        <div class="w-60">    
            <p-floatlabel>    
                <p-select
                class="w-full"
                    inputId="oficina"
                    appendTo="body"    
                    [options]="oficinas"    
                    optionLabel="label"   
                    optionValue="value"    
                    [(ngModel)]="oficinaSelecionada"    
                    (onChange)="aplicarFiltros()">
                </p-select>    
                <label>
                    Oficina
                </label>    
            </p-floatlabel>
    
        </div>    
        <p-button
            icon="pi pi-times"
            severity="danger"
            outlined="true"
            label="Limpar"
            (onClick)="limparFiltrosCards()">
        </p-button>    
    </div>
</div>

<div class="movs">

@for (manutencao of manutencoesPaginadas; track manutencao.id) {

<div class="card-mov">
    <div class="icone-card ">
        <div class="flex items-center gap-4">
            <div class="icone">
                <span class="material-symbols-outlined">car_gear</span>
            </div>
            <div>
                <h2 class="font-bold">{{ manutencao.modelo }}</h2>
                <small>{{ manutencao.placa | uppercase}}</small>

            </div>
        </div>
        <!-- <p-message size="small">{{ manutencao.tipo }}</p-message> -->
        <p-tag
        [rounded]="true"
            severity="info"
            [value]="manutencao.tipo">
        </p-tag>
    </div>
    
    <p>
        <strong>KM:</strong>
        {{ manutencao.km }}
    </p>
    <p>
        <strong>Oficina:</strong>
        {{ manutencao.oficina }}
    </p>

    <p>
        <strong>Valor:</strong>
        {{ manutencao.valor | currency:'BRL' }}
    </p>

    <p>
        <strong>Data:</strong>
        {{ manutencao.data | date:'dd/MM/yyyy HH:mm' }}
    </p>

   <p-accordion>

    <p-accordion-panel value="0">

        <p-accordion-header>
            <!-- <i class="pi pi-eye mr-2"></i> -->
            Ver detalhes
        </p-accordion-header>

        <p-accordion-content>
            <div class="flex flex-col gap-4">
                <div>
                    <p class="font-bold">
                        Serviço realizado
                    </p>

                    <div class="bg-surface-100 rounded-lg p-3">
                        {{ manutencao.servicoRealizado }}
                    </div>

                </div>

                <div>
                    <p class="font-bold">
                        Produtos utilizados
                    </p>
                    <div class="bg-surface-100 rounded-lg p-3">
                        {{ manutencao.produtosUtilizados }}
                    </div>

                </div>
            </div>
        </p-accordion-content>
    </p-accordion-panel>
</p-accordion>
</div>
}

</div>
<p-paginator
    [first]="first"
    [rows]="rows"
    [totalRecords]="manutencoesFiltradas.length"
    [rowsPerPageOptions]="[5,10,20,50]"
    (onPageChange)="onPageChange($event)">
</p-paginator>
</app-card-page>