
<p-toast />
<p-confirmdialog />
<p-dialog

  header="Alertas de manutenção"

  [(visible)]="modalAlertas"

  [modal]="true"

  [style]="{ width: '50rem' }">

  @if (alertas.length === 0) {

    <p-message
      severity="success">

      Nenhum alerta pendente

    </p-message>

  } @else {

    <div class="flex flex-col gap-3">

      @for (
        alerta of alertas;
        track alerta.id
      ) {

        <div
          class="border rounded-lg p-3">

          <div class="flex items-center gap-2">

            <i
              class="pi pi-exclamation-triangle text-red-500">
            </i>

            <strong>
              {{ alerta.modelo }}
            </strong>

          </div>

          <p>
            Placa:
            {{ alerta.placa }}
          </p>

          <p>
            KM Atual:
            {{ alerta.kmAtual }}
          </p>

          <p>
            KM da troca:
            {{ alerta.kmLimite }}
          </p>

          <p>
            Excedeu:
            {{
              alerta.kmAtual -
              alerta.kmLimite
            }}
            km
          </p>

        </div>

      }

    </div>

  }

</p-dialog>
<div class="layout">

  <div class="sidebar " [class.closed]="open">
    <div class="logo">
      <img src="/LogoSoares-Titulo.jpeg" alt="" srcset="">
    </div>    
    <!-- <p class="title">Administrador</p> -->
    <div class="links">
      @if (usuario.role == 'Administrador') { 
        <a routerLinkActive="link-ativo" (click)="fecharSidebarMobile()" routerLink="/restrito/dashboard"><i class="pi pi-chart-bar"></i> Dashboard</a>
       }
        <a routerLinkActive="link-ativo" (click)="fecharSidebarMobile()" routerLink="/restrito/veiculos"><i class="pi pi-car"></i> Veículos</a>
        <a routerLinkActive="link-ativo" (click)="fecharSidebarMobile()" routerLink="/restrito/relatorio"><i class="pi pi-file"></i> Relatórios</a>
        @if (usuario.role == 'Administrador') {        
          <a routerLinkActive="link-ativo " (click)="fecharSidebarMobile()" routerLink="/restrito/motorista"><i class="pi pi-user"></i> Motoristas</a>
          <a routerLinkActive="link-ativo" (click)="fecharSidebarMobile()" routerLink="/restrito/gerenciar-veiculos">
            <div class="icone-carro" (click)="fecharSidebarMobile()">
              <span class="material-symbols-outlined">car_gear</span>
              <p>Gerenciar Veículos</p>
            </div>
          </a>
        }        
        <a routerLinkActive="link-ativo" (click)="fecharSidebarMobile()" routerLink="/restrito/minha-conta"><i class="pi pi-user-edit"></i> Minha conta</a>
    </div>
    <div class="sidebar-end">
      <span class="details-user ">
        <div class="user">
          <p-avatar [label]=" getIniciais(usuario?.nome, usuario?.sobrenome) " styleClass="ml-2" size="normal" />
          <div class="flex flex-col  overflow-hidden">
            <p pTooltip="{{ usuario?.nome }} {{ usuario?.sobrenome }}" class="text-[16px] font-bold overflow-hidden text-ellipsis text-nowrap">{{ usuario?.nome }} {{ usuario?.sobrenome }}</p>
            <p class="text-[10px]">{{ usuario?.role }}</p>
          </div>
        </div>
        
      </span>
    </div>    
  </div>

  <div class="centro">

    <header>
      <div class="gradiente"></div>
        <div class="btns-header" >
         
          <div class="flex gap-4 items-center">
            <button class="cursor-pointer btn-none" (click)="toggleSidebar()">
              @if (open == false) {
                <p-button icon="pi pi-bars" severity="contrast" outlined="true" ></p-button>
              }@else {
                <p-button icon="pi pi-times" severity="contrast"  ></p-button>
              }
            </button>
             <div class="relative cursor-pointer">
                <i
                  class="pi pi-bell alerta"
                  (click)="abrirAlertas()">
                </i>
                @if (quantidadeAlertas > 0) {
                  <span
                    class="absolute -top-2 -right-2
                          bg-red-500 text-white
                          text-xs rounded-full
                          w-5 h-5 flex
                          items-center justify-center">
                    {{ quantidadeAlertas }}
                  </span>
                }
              </div>
          </div>
          <p-button
          size="small"
          variant="outlined"
          icon="pi pi-sign-out"
          label="Sair"
          severity="danger"
          (onClick)="confirmLogout($event)">
          </p-button>
        </div>
    </header>

    <main>
      <div>
        <router-outlet></router-outlet>
      </div>

      <footer>
      <span>
        © {{ anoAtual }} - <a target="_blank" href="https://www.linkedin.com/in/jonatas-lima-7bb323240">Jonatas Lima</a>
      </span>
      <span>
        Soares Segurança Eletronica 
      </span>
    </footer>

    </main>

    
    
  </div>
</div>

